public/workflows/calendly-pipedrive-slack.json

{
  "nodes": [
    {
      "name": "Calendly Trigger",
      "type": "n8n-nodes-base.calendlyTrigger",
      "position": [
        -600,
        1700
      ],
      "webhookId": "REMOVED",
      "parameters": {
        "events": [
          "invitee.created"
        ]
      },
      "credentials": {
        "calendlyApi": "REMOVED"
      },
      "typeVersion": 1
    },
    {
      "name": "Pipedrive",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        -400,
        1600
      ],
      "parameters": {
        "type": "call",
        "subject": "={{$json[\"payload\"][\"event_type\"][\"name\"]}} with {{$json[\"payload\"][\"invitee\"][\"name\"]}} on {{$json[\"payload\"][\"event\"][\"invitee_start_time\"]}}",
        "resource": "activity",
        "additionalFields": {}
      },
      "credentials": {
        "pipedriveApi": "REMOVED"
      },
      "typeVersion": 1
    },
    {
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        -400,
        1800
      ],
      "parameters": {
        "value": "={{$json[\"payload\"][\"event\"][\"end_time\"]}}",
        "action": "calculate",
        "options": {},
        "duration": 15,
        "timeUnit": "minutes",
        "dataPropertyName": "feedback_time"
      },
      "typeVersion": 1
    },
    {
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        0,
        1800
      ],
      "parameters": {
        "text": "={{$json[\"payload\"][\"event\"][\"assigned_to\"][0]}}, today you had a {{$json[\"payload\"][\"event_type\"][\"name\"]}} {{$json[\"payload\"][\"event_type\"][\"kind\"]}} meeting with {{$json[\"payload\"][\"invitee\"][\"name\"]}}. Please write your notes from the call here [link] and mark this message with ✅ when you're done.",
        "channel": "REMOVED",
        "blocksUi": {
          "blocksValues": []
        },
        "attachments": [],
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": "REMOVED"
      },
      "typeVersion": 1
    },
    {
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        -200,
        1800
      ],
      "webhookId": "REMOVED",
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{$json[\"feedback_time\"]}}"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendly Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pipedrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}